@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetText.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sukhumvit Set';
  src: url('/fonts/sukhumvit/SukhumvitSetBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
